# The 8-bit card sheet is licensed for use in projects but explicitly not for
# redistribution, so it stays out of the repository. Drop your own copy here
# and the game will prefer it; without one it draws its own deck. See
# ../../ASSETS.md.
playing_cards.png
